<section>
    <div class="card">
        <h6>{{ cardTitle }}</h6>
        <div class="content" [ngClass]="{'reverse-layout': imagePosition === 'left',
                                        'margin-block-end': imagePosition === 'left'
        }">
            <div class="cardText">
                <h1>{{ title }}</h1>
                <h5>{{ paragraph }}</h5>
                <p>{{ CTA }}</p>
            </div>
            <div class="cardPhoto" [ngStyle]="{'background-image': 'url(' + image + ')'}"></div>
        </div>
    </div>
</section>