.navbar {
    background-color: transparent; /* Adjust as needed */
    color: white;
  }

  .whiteText {
    color: white;
}

 .navbar-toggler {
    color: white !important;
    border-color: rgb(255, 255, 255);
    background-color: #e6eeed;
}