section {
  width: auto;
  padding: 3%;
  box-sizing: border-box;
  color: #eff7f6;
}

.hContainer {
  background-size: cover;
  background-position-y: -15vh;
  height: 100vw;
  max-height: 88vh;
  border-radius: 2em;
  box-sizing: border-box;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: content;
}

.middle {
  justify-self: start;
  align-self: center;

  P {
    width: 80%;
    font-size: 5vw;
    font-weight: 700;
  }
}

@media screen and (max-width: 1000px) { 

  .hContainer{
    height: 80vw;
  }

  .middle {
    p {
      font-size: 6vw;
    }
  }
}

@media screen and (max-width: 750px) { 

  .hContainer{
    height: 60vh;
  }

  .middle {
    p {
      font-size: 7vw;
      line-height: 10vw;
    }
  }
}