<section class="homePage">
    <app-hero
    [backgroundImage]="'https://images.unsplash.com/photo-1541888946425-d81bb19240f5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
    title="Reshaping the future of Sustainable Construction"
    subtitle="Scroll"></app-hero>

    <app-card-right-pic
    cardTitle="mission"
    title="Empowring Progress through Innovation in Construction"
    paragraph="Redfine the standards of construction by seamlessly integrating precision engineering, cutting-edge technology and commitment to sustainability."
    CTA="Learn How BTN"
    image="https://images.unsplash.com/photo-1533378890784-b2a5b0a59d40?q=80&w=2037&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    ></app-card-right-pic>
</section>